<form novalidate ng-submit="vm.saveProfile()" name="profileForm">
    <div class="form-group">
        <input placeholder="Email" disabled ng-model="vm.user.email" class="form-control" type="email" />
    </div>
    <div class="form-group">
        <input placeholder="Full name" type="text" ng-model="vm.user.fullName" name="fullName" class="form-control" required />
        <span class="has-error" ng-show="profileForm.fullName.$touched || profileForm.$submitted">
            <span class="help-block" ng-show="profileForm.fullName.$error.required">Enter your name</span>
        </span>
    </div>
    <div class="form-group">
        <div class="form-inline">
            <div class="form-group">
                <label>Birthday</label>
            </div>
            <div class="form-group">
                <select id="day" ng-model="vm.birthDay.day" class="form-control" required>
                    <option value="">Day</option>
                    <option ng-repeat="day in vm.days" value="{{day}}">{{day}}</option>
                </select>
            </div>
            <div class="form-group">
                <select id="month" ng-model="vm.birthDay.month" class="form-control" required>
                    <option value="">Month</option>
                    <option ng-repeat="month in vm.months" value="{{month}}">{{month}}</option>
                </select>
            </div>
            <div class="form-group">
                <select id="year" ng-model="vm.birthDay.year" class="form-control" required>
                    <option value="">Year</option>
                    <option ng-repeat="year in vm.years" value="{{year}}">{{year}}</option>
                </select>
            </div>
        </div>


    </div>
    <div class="form-group">
        <div >
            <div class="row">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <cl-image public-id="{{vm.user.profileImage.url}}" class="thumbnail inline" angle="20" format="jpg">
                            <cl-transformation height="150" width="150" crop="fill" gravity="north" effect="sepia" radius="20"/>
                        </cl-image>
                        <!--<img ng-src="{{vm.user.profileImage.url}}" class="img-responsive" />-->
                        <div class="caption">
                            Profile image
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"
                     id="uploadFilesContainer"
                     name="file"
                     ngf-select="vm.uploadFile($file)"
                     ng-model="file"
                     ngf-max-size="20MB">
                    <button class="btn btn-default">Select profile image</button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group has-success" ng-show="vm.saveProfileSuccess">
        <span class="help-block">Profile updated</span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update profile</button>
    </div>
</form>