<form novalidate ng-submit="vm.changePassword()" name="changePasswordForm">
    <div class="form-group" ng-class="{'has-error': changePasswordForm.oldPassword.$invalid && (changePasswordForm.oldPassword.$touched || changePasswordForm.$submitted)}">
        <input type="password" class="form-control" name="oldPassword" ng-model="vm.changePasswordModel.oldPassword" placeholder="Enter old password" required />
        <span ng-show="changePasswordForm.oldPassword.$touched || changePasswordForm.$submitted">
            <span class="help-block" ng-show="changePasswordForm.oldPassword.$error.required">Old password is required</span>
        </span>
    </div>
    <div class="form-group" ng-class="{'has-error': changePasswordForm.password.$invalid && (changePasswordForm.password.$touched || changePasswordForm.$submitted)}">
        <input type="password" class="form-control" name="password" ng-model="vm.changePasswordModel.password" placeholder="Enter new password" required />
        <span ng-messages="changePasswordForm.password.$error" role="alert" ng-show="changePasswordForm.password.$touched || changePasswordForm.$submitted">
            <span class="help-block" ng-message="required">Enter your new password</span>
        </span>
    </div>
    <div class="form-group" ng-class="{'has-error': changePasswordForm.confirmPassword.$invalid && (changePasswordForm.confirmPassword.$touched || changePasswordForm.$submitted)}">
        <input type="password" class="form-control" ng-model="vm.changePasswordModel.confirmPassword" name="confirmPassword" placeholder="Confirm new password" required />
        <span ng-show="changePasswordForm.confirmPassword.$touched || changePasswordForm.$submitted">
            <span class="help-block" ng-show="changePasswordForm.confirmPassword.$error.required">Please confirm your password</span>
        </span>
    </div>
    <div class="form-group has-success">
        <span class="help-block" ng-show="vm.changePasswordSuccess">Password changed.</span>
    </div>
    <div class="form-group has-error">
        <span class="help-block" ng-repeat="message in vm.changePasswordError">{{message}}</span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Change password</button>
    </div>
</form>